<div id='container'>
  <!-- Your html here -->

  <div class='navigation'>
  <ul>
    <li><a href='#/links' class='index'>All Links</a></li>
    <li><a href='#/shorten' class='create'>Shorten</a></li>
    <li><a href='#/'  ng-click='signout()' class='logout'>Logout</a></li>
  </ul>
    
  </div>
  <div id='container'></div>

  <div class='info link' ng-repeat="link in data.links | orderBy:'visits':'true'">
    <a href='{{link.baseUrl}}/{{link.code}}'>{{link.baseUrl}}/{{link.code}}>
      <img src='/assets/redirect_icon.png'/>
      </a>
    <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
    <div class='title'>{{link.title}}</div>
    <div class='original'>{{link.url}}</div>
    <a href='{{link.baseUrl}}/{{link.code}}'>{{link.baseUrl}}/{{link.code}}</a>
  </div>
</div>
